/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

.header{
    padding: 5px 120px;
    width: 150px;
    height: 70px;
}

.border{
    padding: 0px 50px;
    width: 400px;
    height: 450px;
    border-radius: 0px;
}

.btn {
    padding: 10px 40px;
    background-color: #999;;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
    white-space: nowrap;
}

.textbox{
    padding: 10px 40px;
    background-color: #999;;
    text-color: #FFFFFF;
    border-radius: 10px;
}
     
::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-style: normal;
    font-weight: bold;
}

.word{
    color: #999;
    font-style: normal;
    font-weight: bold;
}

.bottom{
    color: #999;
    font-style: normal;
    font-weight: bold;
}

/* Main styles */
body {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
}
.fredlogo{ 
  max-width: 25%;
}