<html>
    <head>
        <meta charset="UTF-8">
        <title> FRED | Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">                    
    </head>
    <body></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="msg">{{ msg }}</div>
                <div class="header">
                    <h1 class="word">Dashboard</h1>
             </br></br></br>
                <a href="{{ url_for('auth_bp.logout') }}" class="btn">Logout</a>
          </div>
        </div>
    </body>
</html>