<html>
    <head>
        <meta charset="UTF-8">
        <title> FRED | Mood </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>           
    </head>
    <img class = "fredlogo" src="{{ url_for('static', filename='fredlogo.png') }}" alt="FRED Logo">
    <body>
        <h1>Mood Graph</h1>
        <form action="{{ url_for('views.mood') }}" method="post">
            <label for="patient">Choose a patient:</label>
            <select onchange="this.form.submit()" id="patient" name="patient">
                {{ options | safe }}
            </select>
        </form>
        <br>

        <canvas id="lineChart"></canvas>
        <script>
            var ctx = document.getElementByID("lineChart").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: {{ labels | safe}},
                    datasets: [
                        {
                            label: "Data points",
                            data: {{ values | safe}},
                            fill: false,
                            borderColor: "rgb(75, 192, 192)",
                            lineTension: 0.1
                        }
                    ]
                },
                options: {
                    responsive: false
                }
            });
        </script>

        <br>
        <a href="{{ url_for('views.dashboard') }}" class="btn">Back</a>
    </body>
</html>