<!DOCTYPE html>
<html>
<head>
	<title>FRED | Sign Up</title>
	<link rel="icon" type="image/x-icon" href="../static/Black_Robot.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav class="navbaralt">
		<div class="navbar-container">
			<a class="logo" href="{{ url_for('views.home')}}">
				<img src="../static/Black_Robot.png" alt="Logo">
			</a>
			<ul class="nav-menu">
				<li><a href="{{ url_for('auth_bp.register')}}">Sign Up</a></li>
                <li><a href="{{ url_for('auth_bp.login')}}">Log In</a></li>
			</ul>
		</div>
	</nav>
	<form class="form" method="POST" action="{{ url_for('auth_bp.register') }}">
		<div class="form-container">
			<i class="fab fa-fred"></i>
			<h1>Sign up for FRED</h1>
			<div class="msg error-msg">{{ msg }}</div>
			<input id="userid" name="userid" type="text" placeholder="Username">
			<input id="email" name="email" type="email" placeholder="Email">
			<input id="phone" name="phone" type="text" placeholder="Phone Number">
			<input id="password" name="password" type="password" placeholder="Password">
			<input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password">
			<button type="submit" value="Sign Up">Sign up</button>
			<p class="switch">Already have an account? <a href="{{ url_for('auth_bp.login')}}">Sign in</a>.</p>
		</div>
	</form>
	<footer class="footer">
		<div class="footer-container">
			<p>FRED | Friendly Robot to Ease Dementia 2023</p>
		</div>
	</footer>
</body>
</html>