<html>
    <head>
        <meta charset="UTF-8">
        <a id="logo" href="/">
            <!-- Optional: add some text or other content inside the link element -->
            <span>My Logo</span>
        </a>
        <title> FRED | Welcome </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">                    
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Welcome</h1>
             </div></br></br></br>
                <a href="{{ url_for('login') }}" class="btn">Login</a>
          </div>
        </div>
    </body>
</html>